header {
	overflow: auto;
	margin-bottom: 5%;
	background-color: #008CBA;
}

header .logo {
	float: left;
	font-size: 1.5rem;
	font-weight: bold;
	margin-right: 0.5rem;
	margin-left: 1rem;
	margin-top: 0.7rem;
	color: white;
	vertical-align: middle;
}

header .user-info {
	float: left;
	font-size: 0.9rem;
	margin-left: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

a.button.small.log-out {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: 1rem;
	margin:0 0 0rem;
	color: white;
}

main.home {
	padding-top: 5%;
}

input.search {
	font-size: 1.8rem;
	height: auto;
	margin-bottom: 3rem;
	width: 80%;
	display: inline;
	border: none;
	box-shadow: none;
	background: #fafafa;
}
input.search:focus {
	background: white;
}
button.search {
	width: 18%;
	top: -5px;
}

.result {
	border: thin solid lightgrey;
	margin-bottom: 1rem;
}


.username {
	color: #0078a0;
	font-weight: bold;
}

.rating, .sales, .purchases {
	color: grey;
}

.login-logo {
	text-align: center;
	color: rgba(0,140,186,1);
	font-weight: bold;
	margin-bottom: 1rem;
	margin-right: auto;
}

form#login-form {
	width: 100%;
	max-width: 640px;
}

form#login-form input {
	height: 51px;
	box-shadow: none;
	border-radius: 3px;
}

form#login-form div {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.create.button {
	display:block;
	max-width: 300px;
	margin: auto;
	background: white;
	color: rgba(0,140,186,1);
	border: thin solid rgba(0,140,186,1);
	border-radius: 3px;
}

#logo {
	width: 200px;
	margin: auto;
}

.book-detail {
	border-bottom: thin solid lightgrey;
	padding: 1rem;
}

.book-detail:hover {
	background-color: rgba(0,140,186,0.5);
}

.book-detail-header {
	border-top: thin solid lightgrey;
	border-bottom: thin solid lightgrey;
	padding: 1rem;
}

.buy-detail-head {
	border-top: thin solid lightgrey;
	color: #0078a0;
	padding: 1rem;
}

.buy-detail {
	padding: 1rem;
	color: #0078a0;
}

.buy-detail-tail {
	border-bottom: thin solid lightgrey;
	color: #0078a0;
	padding: 1rem;
}

a#sell {
	float: right;
	margin:0 0 0rem;
	margin-top: 0.5rem;
}

.book-info {
	text-align: center;
}

.sellerRating {
	text-align: center;
}

a.button.small.user-settings {
	margin:0 0 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
	color:white;
}

.messages {
	color: white;
	margin-right: 0.7rem;
	margin-left: 0.7rem;
}

.messages:hover {
	color: #007095;
	cursor: pointer;
}

span#sendername {
	font-weight: bold;
	color: black;
	margin-left: 0.5rem;
}

span#msgpreview {
	color: grey;
	margin-left: 0.5rem;
}

#msg {
	border-bottom: thin solid lightgrey;
	height: 70px;
	width: 100%;
}

#msg:hover {
	background-color: rgba(0,140,186,0.5);
}

#notificationContainer {
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	margin-left: -0.4rem;
	width: 400px;
	z-index: 10;
	display: none;
}
#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 188px;
}
#notificationTitle {
	z-index: 1000;
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
}
#notificationsBody {
	min-height:300px;
	max-height: 300px;
	overflow: auto;
}
#notificationFooter {
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
	height: 30px;
}
#notification_count {
	padding: 3px 7px 3px 7px;
	background: #cc0000;
	color: #ffffff;
	font-weight: bold;
	margin-top: -1rem;
	margin-left: -0.5rem;
	border-radius: 9px;
	position: absolute;
	font-size: 11px;
	z-index: 10;
}


