<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <title>BookCycle</title>
        
        <!-- Open Graph -->
        <meta property="og:title" content="Buying and selling books at UCLA" />
        <meta property="og:site_name" content="BookCycle" />
        
        <!-- CSS -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="/css/main.css" rel="stylesheet" type="text/css" />
        
        <!-- JavaScript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>

        <script src="/js/main.js"></script>
    </head>
    <body>
        <div id="wrap">
            <header>
                    <a class="logo" href="/">BookCycle</a>
                    <div class="user-info">
                        <a class="user-settings" href="/user-details.html">UserName</a>
                        <a class="log-out" href="/">Log Out</a>
                    </div>
                    <a class="button small" id="sell" href="/post-details.html"><i class="fa fa-plus"></i> Sell Book</a>
            </header>
            <main class="story-detail">
                <div class="row">
                    <form id="post-edit" method="post">
                        <input type='hidden' name='csrfmiddlewaretoken' value='tym8d4E77Y35wCFn1YKjOiRkjx4zeQqm' />
                        
                    
                        <div class="large-7 large columns">

                            <div class="row buy-detail-head">
                                <div class="small-7 columns">
                                  Book Title: {{.Title}}
                                </div>
                            </div>
                            <div class="row buy-detail">
                                <div class="small-7 columns">
                                  Book Author: {{.Author}}
                                </div>
                            </div>
                            <div class="row buy-detail">
                                <div class="small-7 columns">
                                  Book Version: {{.Version}}
                                </div>
                            </div>
                            <div class="row buy-detail">
                                <div class="small-7 columns">
                                  Book Class: {{.Class}}
                                </div>
                            </div>
                            <div class="row buy-detail">
                                <div class="small-7 columns">
                                  Book Professor: {{.Professor}}
                                </div>
                            </div>
                            <div class="row buy-detail">
                                <div class="small-7 columns">
                                  Book Price: {{.Price}}
                                </div>
                            </div>
                            <div class="row buy-detail">
                                <div class="small-7 columns">
                                  Book Condition: {{.Condition}}
                                </div>
                            </div>
                            <div class="row buy-detail-tail">
                                <div class="small-7 columns">
                                    Other Information: info
                                </div>
                            </div>
                        </div>
                    
                        <div class="large-5 columns">
                            <a class="button expand"><i class="fa fa-envelope-o"></i> Message Seller</a>
                            <a class="button expand">Buy it now!</a>
                            <a class="button expand">View Seller Info</a>

                            <label for="details">Picture</label>
                            <textarea type="text" id="sources" name="sources" placeholder="picture here" rows="12"></textarea>

                        </div>
                        <div class="row">
                            
                        </div>
                    </form>
                </div><!-- end div.row -->
            </main>
            <footer></footer>
        </div>
    </body>
    <script>
        $(function() {
          $(document).foundation();
        });
    </script>
</html>
