{{ define "main" }}
<script src="/js/book_details.js"></script>
  <script>
    var isbn = "{{.Book.ISBN}}";
    DisplayBook(isbn);

    var courseid = "{{.Book.CourseID}}";
    
  </script>
  <main class="story-detail">
  <div class="row">
    <form id="post-edit" method="post">
      <input type='hidden' name='csrfmiddlewaretoken' value='tym8d4E77Y35wCFn1YKjOiRkjx4zeQqm' />
      <div class="large-7 large columns">
        <div class="row buy-detail-head">
          <div class="small-7 columns">
            Book Title: {{.Book.Title}}
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns author">
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns">
            Book Price: {{.Book.Price}}
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns">
            Book Condition: {{.Book.Condition}}
          </div>
        </div>
        <div class="row buy-detail-tail">
          <div class="small-7 columns">
            Other Information: info
          </div>
        </div>
      </div>

      <div class="large-5 columns">
        {{ if .CanDelete }}
        <a class="button expand" id="message_seller" disabled><i class="fa fa-envelope-o"></i> Message Seller</a>
        {{ else }}
        <a class="button expand" id="message_seller" href="/message/{{ .UserID }}"><i class="fa fa-envelope-o"></i> Message Seller</a>
        {{ end }}
        <a class="button expand" href="/users/{{ .UserID }}">View Seller Info</a>
      </div>
      <div class="row">
        <div class="large-5 columns">
          <img class="bookpicture" alt="OneTrueTatsuya" src="/images/tatsuya.jpg"/>
        </div>
      </div>
    </form>
  </div>
  </main>
{{ end }}
