{{ define "main" }}
  <main class="story-detail">
  <div class="row">
    <form id="post-edit" method="post">
      <input type='hidden' name='csrfmiddlewaretoken' value='tym8d4E77Y35wCFn1YKjOiRkjx4zeQqm' />
  
  
      <div class="large-7 large columns">
  
        <div class="row buy-detail-head">
          <div class="small-7 columns">
            Book Title: {{.Book.Title}}
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns">
            Book Author: {{.Book.Author}}
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns">
            Book Version: {{.Book.Version}}
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns">
            Book Class: {{.Book.Class}}
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns">
            Book Professor: {{.Book.Professor}}
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns">
            Book Price: {{.Book.Price}}
          </div>
        </div>
        <div class="row buy-detail">
          <div class="small-7 columns">
            Book Condition: {{.Book.Condition}}
          </div>
        </div>
        <div class="row buy-detail-tail">
          <div class="small-7 columns">
            Other Information: info
          </div>
        </div>
      </div>
  
      <div class="large-5 columns">
        <a class="button expand" href="/message/{{ .UserId }}"><i class="fa fa-envelope-o"></i> Message Seller</a>
        <a class="button expand">Buy it now!</a>
        <a class="button expand" href="/users/{{ .UserId }}">View Seller Info</a>
        {{ if .CanDelete }}
        <a class="button expand" href="/books/{{ .Book.Id}}/delete">Delete book</a>
        {{ else }}
        <a class="button expand" disabled>Delete book</a>
        {{ end }}
  
        <!--<textarea type="text" id="sources" name="sources" placeholder="picture here" rows="12"></textarea>-->
  
      </div>
      <div class="row">
  
      </div>
    </form>
  </div>
  </main>
{{ end }}
