{{ define "main" }}

{{ if .HasCurrentUser }}
<script src="/js/chat.js"></script>
<script type="text/javascript">
    var current_user_id = {{.CurrentUser.Id}};
    var receiver_id = {{.UserId}};
    // Set up chatroom for both users
    Message(current_user_id, receiver_id);
</script>

<style type="text/css">
html {
    overflow: hidden;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}
#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}
#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

</style>
<div id="log"></div>
<form id="form">
    <input type="submit" value="Send" />
    <input type="text" id="msg" size="64"/>
</form>

{{ else }}

<p>You have to be logged in to message other users</p>

{{ end }}

{{ end }}
