{{ define "main" }}
<script src="/js/typeahead.bundle.js"></script>
<script src="/js/new_book.js"></script>

<main class="story-detail">
  <div class="row">
    <label for="version">Course name</label>
    <input id="department" type="text" name="query" placeholder="Department" />
    <input id="courseID" type="text" name="query" placeholder="Course Name" />
    <label for="version">Professor</label>
    <input id="professor" type="text" name="query" placeholder="Enter the professor for the course:" />

    <input class="search" id="isbn_enter" type="text" name="query" style="display: none;" placeholder="Enter the book isbn that you want to sell"/>
    <button class="search" id="search_course" class="expand" style="display: none;" disabled><i class="fa fa-search"></i></button>

    <form id="post-edit" method="post" action="/books/new">
      <input type="hidden" id="course_id" name="course_id" value=""/>
      <input type="hidden" id="title" name="title" value=""/>
      <input type="hidden" id="isbn" name="isbn" value=""/>

      <label for="version">Book Price</label>
      <input id="price" type="text" name="price" placeholder="Enter price for the book:" />

      <label for="version">Book Condition (1-10)</label>
      <input type="text" id="condition" name="condition" placeholder="Enter the book's current condition" value="" />

      <label for="details">Other Information</label>
      <textarea type="text" id="details" name="details" placeholder="other information here" rows="5"></textarea>

      <div class="small-6 columns">
        <input type="submit" class="button expand success small" value="Save posting"/>
      </div>
    </form>
  </div>
</main>
{{ end }}
